@charset "utf-8";

.main {
    width: 800px;
    margin: 200px auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.login {
    width: 400px;
    border: 1px solid #ddd;
    text-align: center;
}

.login img {
    width: 50%;
    margin: 20px;
}